.meetings-table {
	width: 70%;
	margin: 2% 15% 10%;
}
.meetings-head {
	background-color: #7b0002;
	color: white;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 400;
	font-size: 1.5rem;
}
.table-row-2 {
	background-color: rgba(247, 247, 247, 1);
	height: 3rem;
}
.table-row-1 {
	background-color: rgba(234, 234, 234, 1);
	height: 3rem;
}

.meetings-table-body {
	font-family: 'Lato';
	font-style: normal;
	font-weight: 300;
}
.table-link {
	color: #7b0002;
}
.meet-title-2 {
	text-align: center;
	font-family: 'Lato';
	font-style: normal;
	font-weight: 500;
	font-size: 1.5rem;
	margin-top: 2%;
}
/****** responsiveness less gooooooo **********/
@media (max-width: 768px) {
	.meetings-table {
		width: 90%;
		margin: 5% auto 10%;
	}
}
