/* CSS Presets  */
/* .red-bor{
  border: 2px solid red;
}
.blue-bor{
  border: 2px solid blue;
}
.black-bor{
  border: 2px solid black;
}
.green-bor{
  border: 2px solid green;
} */

/* #About Section Starts Here  */

#about h3 {
	margin: 60px 0px 20px 0px;
}

#about img {
	width: 350px;
}
#about button {
	background-color: #7b0002;
	color: white;
	border: none;
	padding: 6px 30px;
	margin: 20px 0px 60px 0px;
}

/*  Long Poster CSS starts Here  */
#long_poster {
	background-color: #f5eddc;
	padding-bottom: 10px;
	padding-top: 1px;
}

/* Constitution and calendar CSS starts here  */
#cc {
	margin: 70px 0px 120px 0px;
}

#cc h3 {
	color: #7b0002;
	margin-bottom: 20px;
}

.blank1 {
	background-color: white;
	width: 350px;
	height: 450px;
}
.blank2 {
	background-color: white;
	width: 350px;
	height: 350px;
}

.one-team-parent {
	width: 80vw;
	margin: 5vw 10vw;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}

.one-team-parent h2 {
	font-size: 32px;
	margin-bottom: 3rem;
}

.one-team {
	width: 80vw;
	display: flex;
	flex-wrap: wrap;
	row-gap: 40px;
	column-gap: 60px;
}
