.h-head1 {
	margin: auto;
	font-family: 'Poppins';
	font-style: normal;
	font-weight: 500;
	font-size: 60px;
	text-align: center;
	color: #ffffff;
	margin-top: 2%;
}
.clubs-card-g {
	margin-top: 30px;
	margin-bottom: 50px;
}
.clubs-page {
	padding-bottom: 40px;
}

.h2 {
	font-size: 20;
	font-weight: 600;
}

.h3 {
	font-size: 14;
	font-weight: 400;
}

.text-center {
	text-align: center;
}
